<div class="card-columns">
	<div class="card">
		<img class="card-img-top" src="assets/img/aprendiz1.jpg" alt="Card image cap" width="50%">
		<div class="card-body">
			<h5 class="card-title">Nombre aprendiz</h5>
			<p class="card-text">Lorem ipsum dolor setme in, consecur</p>
			<p class="card-text">
				<small class="text-muted">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
				</small>
			</p>
			<button class="btn btn-outline-success btn-block">
				ver más
			</button>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="assets/img/aprendiz2.jpg" alt="Card image cap" width="50%">
		<div class="card-body">
			<h5 class="card-title">Nombre aprendiz</h5>
			<p class="card-text">Lorem ipsum dolor setme in, consecur</p>
			<p class="card-text">
				<small class="text-muted">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
				</small>
			</p>
			<button class="btn btn-outline-success btn-block">
				ver más
			</button>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="assets/img/aprendiz3.jpg" alt="Card image cap" width="50%">
		<div class="card-body">
			<h5 class="card-title">Nombre aprendiz</h5>
			<p class="card-text">Lorem ipsum dolor setme in, consecur</p>
			<p class="card-text">
				<small class="text-muted">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
				</small>
			</p>
			<button class="btn btn-outline-success btn-block">
				ver más
			</button>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="assets/img/aprendiz4.jpg" alt="Card image cap" width="50%">
		<div class="card-body">
			<h5 class="card-title">Nombre aprendiz</h5>
			<p class="card-text">Lorem ipsum dolor setme in, consecur</p>
			<p class="card-text">
				<small class="text-muted">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
				</small>
			</p>
			<button class="btn btn-outline-success btn-block">
				ver más
			</button>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="assets/img/aprendiz5.jpg" alt="Card image cap" width="50%">
		<div class="card-body">
			<h5 class="card-title">Nombre aprendiz</h5>
			<p class="card-text">Lorem ipsum dolor setme in, consecur</p>
			<p class="card-text">
				<small class="text-muted">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
				</small>
			</p>
			<button class="btn btn-outline-success btn-block">
				ver más
			</button>
		</div>
	</div>
	<div class="card">
		<img class="card-img-top" src="assets/img/aprendiz6.jpg" alt="Card image cap" width="50%">
		<div class="card-body">
			<h5 class="card-title">Nombre aprendiz</h5>
			<p class="card-text">Lorem ipsum dolor setme in, consecur</p>
			<p class="card-text">
				<small class="text-muted">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
				</small>
			</p>
			<button class="btn btn-outline-success btn-block">
				ver más
			</button>
		</div>
	</div>
</div>